
# graphify-axet
.graphify/

# Ignore Python bytecode files
*.pyc

# Ignore virtual environment directories
venv/
.venv/

# Ignore environment variable files
.env

# ZIP files
*.zip

# Ignore AWS Lambda layers
layers/